{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>My habits!</title>
      <link rel = "stylesheet" href = "style.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link href="https://fonts.google.com/specimen/Comfortaa#standard-styles" rel="stylesheet" type="text/css">
      <link href="https://fonts.google.com/specimen/Bungee+Shade?category=Display#standard-styles" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <header class="site-header">
        <div class="container">
          <h1>My Habits!</h1>
          <p> Создай свою привычку </p>
          <div class="start">
            <a href="start.html">Start</a>
          </div>
        </div>
      </header>
    </body>
